In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
def load_data_from_postgres(query):
    # Replace with your actual database connection details
    conn = psycopg2.connect(
        dbname='your_db_name',
        user='your_username',
        password='your_password',
        host='your_host',
        port='your_port'
    )
    
    # Load data into a DataFrame
    df = pd.read_sql_query(query, conn)
    
    # Close the connection
    conn.close()
    
    return df

# Load your data
query = "SELECT * FROM xdr_data;"  # Replace with your actual query
df = load_data_from_postgres(query)

# Display the first few rows of the DataFrame
print(df.head())

NameError: name 'psycopg2' is not defined

In [ ]:
# Load your data
query = "SELECT * FROM xdr_data;"  
df = load_data_from_postgres(query)

NameError: name 'load_data_from_postgres' is not defined

In [ ]:
# Identify Missing Values
missing_values = df.isnull().sum()
print("Missing Values:\n", missing_values)

# Step 4: Identify Outliers using IQR
def identify_outliers_iqr(data):
    # Calculate Q1 (25th percentile) and Q3 (75th percentile)
    Q1 = data.quantile(0.25)
    Q3 = data.quantile(0.75)
    IQR = Q3 - Q1
    
    # Define outlier bounds
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    
    # Identify outliers
    outliers = ((data < lower_bound) | (data > upper_bound))
    return outliers

# Assuming 'value_column' is the column you want to check for outliers
# Replace 'value_column' with the actual column name
outlier_mask = identify_outliers_iqr(df['value_column'])  # Replace with your column name
outliers = df[outlier_mask]

print("Outliers:\n", outliers)

# Optional: Visualize missing values and outliers
# Missing values visualization
plt.figure(figsize=(10, 5))
sns.heatmap(df.isnull(), cbar=False, cmap='viridis')
plt.title('Missing Values Heatmap')
plt.show()

# Outliers visualization
plt.figure(figsize=(10, 5))
sns.boxplot(x=df['value_column'])  # Replace with your column name
plt.title('Boxplot for Outlier Detection')
plt.show()

NameError: name 'df' is not defined